{% extends 'master/base.html' %}

{% block title %}
    Teacher
{% endblock title %}
    
{% block table %}
   <table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    
    {% for teacher in teacher_data %}
      <tr>
      <td>{{teacher.name}}</td>
      <td>{{teacher.address}}</td>
      <td>{{teacher.email}}</td>
    </tr>
    {% endfor %}
      
    
    
  </tbody>
</table>  
{% endblock table %}